* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

em, i {
    font-style: normal
}

li {
    list-style: none;
}

img {
    /* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
    border: 0;
    vertical-align: middle;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: #c81623 !important;
}

button, input {
    /* "\5B8B\4F53"宋体 浏览器兼容性比较好 */
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    border: 0;
    margin: 0;
    outline: none;
}

body {
    background-color: rgb(244, 244, 244);
    font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    color: #666;
}

.hide {
    display: none !important;
}

.block {
    display: block !important;
}

.clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}