@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/iconfont.woff2') format('woff2'), url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  /* CSS3 抗锯齿形 让文字显示的更加清晰 */
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  /* 灰度模糊，火狐 */
}
/* 关闭标签 */
.close {
  position: absolute;
  padding: 0 3px 0;
  top: 5px;
  right: 5px;
  color: #999;
  background-color: rgba(0, 0, 0, 0.2);
}
.close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.lg-ul {
  width: 100px;
}
.w {
  margin: 0 auto;
  height: 100%;
}
.grid-col {
  margin: 0 auto;
}
@media screen and (min-width: 1280px) {
  .w {
    width: 1200px;
  }
  .grid-col {
    width: 1200px;
  }
  .promotional-top {
    height: 80px;
  }
  .header {
    width: 190px;
    height: 120px;
  }
  .s-form {
    width: 550px;
  }
  .col-3 {
    display: block;
  }
}
@media screen and (max-width: 1279px) {
  .w {
    width: 990px;
  }
  .grid-col {
    width: 990px;
  }
  .promotional-top {
    height: 66px;
  }
  .header {
    width: 134px;
    height: 84px;
  }
  .s-form {
    width: 490px;
  }
  .col-3 {
    display: none;
    opacity: 0;
  }
}
.promotional-top {
  display: block;
  text-align: center;
  background-color: rgba(255, 0, 0);
}
.promotional-top .w {
  position: relative;
  background: url('../image/69201d.webp') no-repeat;
  background-size: 100% 100%;
}
/* 广告标签盒子 */
.jd-tag {
  width: 190px;
  height: 100%;
  background: url('../image/550ad0.webp') no-repeat;
  background-size: contain;
}
#shortcut {
  background-color: rgba(227, 228, 229);
  height: 30px;
  line-height: 30px;
}
#shortcut a {
  color: #999;
}
#shortcut .w {
  display: flex;
  justify-content: space-between;
}
.fl .iconfont {
  font-size: 15px;
  color: rgba(255, 0, 0);
}
.fr {
  display: flex;
}
.container {
  border: 1px solid transparent;
  position: relative;
  padding-left: 7px;
  padding-right: 7px;
}
.container .hot-a {
  color: rgba(255, 0, 0) !important;
}
.spacer {
  overflow: hidden;
  margin: 11px 5px 0;
  width: 1px;
  height: 10px;
  background-color: #ccc;
}
.qr-select:hover .qr-b {
  display: block !important;
}
.qr-select:hover .triangle {
  display: block !important;
}
.triangle {
  z-index: 2;
  position: absolute;
  bottom: -1px;
  left: 24px;
  width: 0;
  height: 0;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-bottom: 6px solid #fff;
}
.qr-m {
  z-index: 1;
  position: absolute;
  top: 40px;
  right: 0px;
  width: 70px;
  height: 70px;
  padding: 8px;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
}
.qr-m div {
  width: 100%;
  height: 100%;
  background: url("../image/dc4cf3.webp") no-repeat;
  background-size: 100% 100%;
}
.qr-b {
  z-index: 2;
  position: absolute;
  top: 30px;
  left: -126px;
  width: 190px;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  border-top: none;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.1);
}
.qr-c {
  display: flex;
  padding: 10px 5px;
  border-bottom: 1px solid rgba(227, 228, 229);
}
.qr-d {
  padding: 0 5px;
}
.qr-d div {
  color: red;
}
.qr-border {
  width: 72px;
  height: 72px;
  padding: 1px;
  border: 1px solid #999;
}
.qr-border div {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
.mobile {
  background: url("../image/dc4cf3.webp") no-repeat;
}
.wechat {
  background: url("../image/7cbc23.webp") no-repeat;
}
.economy {
  background: url("../image/5cf215.webp") no-repeat;
}
.health {
  background: url("../image/9c45c5.webp") no-repeat;
}
.dropdown-layer-w {
  z-index: 2;
  position: absolute;
  top: 30px;
  right: -100%;
  width: 1200px;
  padding: 10px 0;
  border: 1px solid #bfbfbf;
  border-top: none;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.dropdown-inline-block {
  display: flex;
  justify-content: space-around;
}
.dropdown-inline-block .fd {
  display: flex;
}
li.select:hover {
  background-color: #fff;
  border: 1px solid #bfbfbf;
  border-bottom: none;
}
li.select:hover .dropdown-layer {
  display: block !important;
}
li.select:hover .dropdown-layer-w {
  display: block !important;
}
.dropdown-layer {
  z-index: 2;
  position: absolute;
  width: max-content;
  left: -1px;
  top: 30px;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  border-top: none;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.1);
}
.dropdown-layer hr {
  opacity: 0.2;
}
.dropdown-layer h6 {
  padding-left: 10px;
}
.dropdown-layer ul a {
  padding: 0 10px;
  white-space: nowrap;
}
.dropdown-block {
  display: flex;
  flex-direction: column;
}
.dropdown-block div {
  display: flex;
}
#h-container {
  height: 140px;
  background-color: #fff;
  display: block;
}
#h-container .w {
  height: 100%;
}
#h-container .w div {
  float: left;
}
.header {
  position: relative;
  overflow: hidden;
  margin: auto 0;
}
.header h2 {
  font-size: 0;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  background: url('../image/sprite.png') no-repeat;
  background-size: cover;
}
.promotional-logo {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -67px;
  margin-top: -60px;
  height: 120px;
  width: 134px;
  background: url('../image/18490b.gif') no-repeat;
  background-size: contain;
}
.search {
  height: 60px;
  width: 800px;
}
.s-form {
  position: relative;
  left: 50px;
  top: 20px;
  height: 34px;
  font-size: 0;
  border: 2px solid rgba(255, 0, 0);
}
.s-form input {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 18px;
  height: 100%;
  width: 85%;
}
.s-form button {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 12%;
  background-color: rgba(255, 0, 0);
  font-size: 22px;
  color: #fff;
}
.c-icon {
  position: relative;
  left: 8%;
  top: 20px;
  margin-left: 20px;
  height: 36px;
  width: 132px;
  line-height: 38px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.c-icon:hover {
  border: 1px solid rgba(255, 0, 0);
}
.c-cart {
  position: absolute;
  left: 20px;
  font-size: 16px;
  color: #666;
}
.c-link {
  position: absolute;
  right: 20px;
  color: #666;
}
.c-dotted {
  z-index: 1;
  position: absolute;
  left: 32px;
  top: 3px;
  width: 20px;
  height: 14px;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  background-color: red;
  border-radius: 7px 7px 7px 0;
}
.hotwords {
  position: relative;
  top: 4px;
  left: 50px;
  height: 12px;
  border: 1px solid #fff;
}
.hotwords a {
  color: #999;
  margin: 0 3px;
}
.hotwords .style_red {
  color: red;
}
.navbar {
  position: relative;
  bottom: -35px;
  display: flex;
  height: 40px;
  width: 800px;
}
.navbar ul {
  display: flex;
}
.navbar ul li a {
  color: #666;
  padding: 5px 10px;
  font-size: 15px;
}
.navbar ul li .style-hot {
  color: red;
  font-weight: bold;
}
#s-container {
  margin-top: 10px;
}
.grid-col {
  display: flex;
  justify-content: space-between;
  height: 470px;
}
.col-1 {
  width: 190px;
  height: 100%;
  background-color: #fff;
}
.col-1 ul {
  padding-top: 6px;
  width: 190px;
}
.col-1 li {
  padding: 3px 0 3px 20px;
}
.col-1 li a {
  font-size: 14px;
  color: #666;
}
.col-1 li:hover {
  background-color: rgba(227, 228, 229);
}
.col-2 {
  width: 590px;
}
.outer {
  position: relative;
  width: 590px;
  height: 470px;
  overflow: hidden;
}
.sw-btn {
  position: absolute;
  width: 24px;
  height: 34px;
  top: 50%;
  color: #fff;
  margin-top: -17px;
  background-color: rgba(0, 0, 0, 0.1);
}
.prev {
  left: 0;
  border-radius: 0 17px 17px 0;
}
.next {
  right: 0;
  border-radius: 17px 0 0 17px;
}
.sw-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-shrink: 0;
}
.indi {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 20px;
  padding-left: 20px;
  width: 100%;
}
.indi-i {
  width: 8px;
  height: 8px;
  margin: 0 3px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.indi-i:hover {
  background-color: #fff;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}
.col-3 {
  width: 190px;
  height: 100%;
  background-color: royalblue;
}
.col-4 {
  width: 190px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.col-4 > div {
  width: 100%;
}
.col-4 hr {
  width: 90%;
  margin: 0 auto;
  opacity: 0.1;
}
.col-user {
  flex: 3;
  text-align: center;
  margin-top: 10px;
}
.col-user button {
  width: 80px;
  height: 26px;
  border-radius: 13px;
}
.user-c {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.user-p {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: url("../image/p.png") no-repeat;
  background-size: contain;
}
.user-d {
  margin-left: 15px;
}
.user-lr {
  margin-left: 10px;
  text-align: start;
}
.user-lr a {
  margin: 0 5px;
}
.welfare {
  color: #fff;
  background-color: red;
}
.p-vip {
  color: gold;
  background-color: black;
}
.col-news {
  position: relative;
  flex: 4;
  padding: 10px;
}
.col-news h6 {
  font-size: 14px;
  margin-bottom: 5px;
}
.news-more {
  position: absolute;
  top: 13px;
  right: 10px;
  color: #999;
}
.col-li {
  margin: 7px 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.col-li a {
  color: #666;
}
.news-hot {
  padding: 2px 6px;
  margin-right: 5px;
  color: red;
  background-color: rgba(253, 238, 237);
}
.col-nav {
  flex: 7;
  margin-top: 7px;
}
.nav-c {
  display: flex;
  flex-wrap: wrap;
}
.nav-i {
  flex-shrink: 0;
  width: 33.33%;
  height: 55px;
}
.nav-i a {
  text-align: center;
}
.nav-i-i {
  font-size: 20px;
}
.nav-i-t {
  color: #666;
}
